<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add sites</title>
</head>
<body>
    <h1>Add domens</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Tip shablona:</h3>
        <select name="shablon" id="shab">
            {% if user.loco == False %}
            <option>No shablons!</option>
            {% endif %}
            {% if user.loco %}
            
            <option>
            Loco(file hosting)
            </option>
            {% endif %}
        </select>
        <h3>Domain name</h3>
        <input type="text" name='name_domain'placeholder="Name of domain">
        <button type='submit'>Go!</button>
        {{message}}
    </form>
</body>
</html>