<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
</head>
<body>
   <h1>Its CryPanel!</h1>
   <h3>your nickname: {{user.username}}</h3>
   <a href="{% url 'add_domains' %}">Go to add site</a>
<form action="{% url 'quit' %}" method="POST">
    {% csrf_token %}
<button type="submit">quit in account</button> 
</form>
</body>
</html>