{% extends 'base.html' %}

{% block content %}

<div class="table-container bg-dark mt-5 mb-2 rounded container " style="height: auto;min-height: 200px;"> 
    <table class="table text-light table-hover table-striped rounded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">LINK</th>
                <th scope="col">DESIGN</th>
                <th scope="col">DATE</th>
                <th scope="col">
                    <span data-bs-toggle="tooltip" title="Add link" >
                        <button class="text-white" data-bs-toggle="modal" data-bs-target="#addLink" style="border: none;outline:none;background:none;color:white;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in links %}
                <tr id="{{item.id}}">
                    <td scope="col" class="text-light">{{item.id}}</td>
                    <td class="text-light">
                        <a href="https://{{item.domain.name}}/{{item.path}}" style="text-decoration: none;">
                            https://{{item.domain.name}}/{{item.path}}
                        </a>
                    </td>
                    <td class="text-light">
                        <span data-bs-toggle="tooltip" title="Change design">
                            <button type="button" class="btn btn-outline-primary setDesignButton" data-bs-toggle="modal" data-bs-target="#changeDesign">
                                {{item.design}}
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </button>
                        </span>

                    </td class="text-light">
                    <td class="text-light">{{item.created_at}}</td>
                    <td>
                        <button data-bs-toggle="tooltip" title="Delete link"  type="button" class="btn btn-danger text-white deleteLink" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                              </svg>                                
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="modal fade"  id="changeDesign" tabindex="-1">
    <div class="modal-dialog w-50" style=" max-width: none;">
      <div class="modal-content bg-dark text-white" >
        <div class="modal-header">
          <h5 class="modal-title">Set design</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-row gap-4">
                {% for item in designs %}
                <div class="card text-white bg-secondary hoverCard selectCard" id="{{ item.id }}">
                  <img class="card-img-top" src="{{ item.img }}" alt="design" >
                  <div class="card-body">
                    <h4 class="card-title">
                        {{ item.name }}
                        
                        <span class="bg-light float-end rounded p-1 text-primary">{{ item.type }}</span>
                    </h4>

                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="submitSetDesign" class="w-100 btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
</div>


<div class="modal fade " id="addLink" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h5 class="modal-title">Add link</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">https://</span>
                <select id="selectDomain" class="form-select w50">
                    <option selected value="domain">Select domain</option>
                    {% for item in domains %}
                    <option value="{{item.name}}">{{item.name}}</option>
                    {% endfor %}
                </select>
                <span class="input-group-text" id="basic-addon1">/</span>
                <input type="text" id="path" class="form-control w50" placeholder="path/path">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" id="submitAddLink" class="w-100 btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}